@font-face{
    font-family: 'Jacquarda';
    src: url(fonts/JacquardaBastarda9Charted-Regular.ttf);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 8px;
  padding: 16px;
}

.grid img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}

body {
    font-family: 'Jacquarda';
    font-size: 36px;
    background-color: rgb(255, 128, 213);
    color: rgb(61, 55, 55);
}
a {
    font-size: 36px;
    color: rgb(49, 37, 209);
    text-decoration: none;
}
a:hover {
    font-size: 36px;
    color: aqua;
    text-decoration: none;
}

.cat {
    background-image: url(images/tumblr_n4dockD6IV1rf4cqeo1_1280.jpg);
    height: 150px;
    width: 150px;
    position: relative;
    top: 80px;
    left: 90px;
    background-size: contain;
    background-repeat: no-repeat;
}

.cat:hover {
    background-image: url(images/tumblr_95aeae57a944e67ae2d85fb7805fd286_b9b748b3_640.jpg);
}
